<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navigation Bar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <style>
        .search_buton{

        }
    </style>
<body>

<nav class="navbar navbar-inverse" style="border-radius: 0px !important;background-color:#123456  !important;">
  <div class="container-fluid">
    <div class="navbar-header">
        {% block home %}
      <a class="navbar-brand" href="#">WebSiteName</a>
        {% endblock %}
    </div>
    <ul class="nav navbar-nav">

    </ul>

    <form action="{{ search_text }}" role="form" class="navbar-form navbar-left" method="get">
        <div class="form-group ">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="form-control search_buton btn btn-success " type="submit" >Search</button>
        </div>
    </form>
      {% block links %}
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a href="#" class="nav-link"><span class="glyphicon glyphicon-plus"></span>{{  }} </a> </li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
      {% endblock links %}
  </div>
</nav>
{% block contents %}
{% endblock %}
</body>
</html>
