{% extends 'parts_base.html' %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {


        })
    </script>
{% endblock %}

{% block body %}
    <h3>{{ part_detail.part_id }}<br>
    {{ part_detail.part_name }}<br>
    {{ part_detail.cost }}<br>
    {{ part_detail.available_quantity }}</h3>
    {% include 'index.html' %}

    <a href="{% url 'customer:customer_add' %}">Add New customer</a>

    <div>
        {% for result in part_detail.part_processing_set.all %}
            {{ result }}<br>
        {% endfor %}
    </div>
{% endblock %}