<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{% extends 'parts.html' %}
  {% block home %}
      <a class="navbar-brand" href="{%  url 'parts:parts_home' %} ">WebSiteName</a>
        {% endblock %}
{% block contents %}
<div >
{{ part_temp.part_id }}<br>
{{ part_temp.part_name }}<br>
{{ part_temp.cost }}<br>
{{ part_temp.available_quantity }}<br>
</div>
{% endblock %}

</body>
</html>