<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
{% include 'nav_bar_base.html' with my_list=my_list search_link='parts:part_search' %}
</div>
<br><br><br>
<div class="container">
<form action="{% url 'parts:part_add_validate' %}" method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Add</button>
</form>
</div>


</body>
</html>