{% extends 'parts_base.html' %}
{% load widget_tweaks %}
{%  block javascript %}
    <script type="text/javascript">

    $(function () {

        $('.edit_btn').on('click',pop_up);
        function pop_up() {
            var update_url = $(this).data('url');
            $('#update_form').attr('action',update_url);
            $("#my_form").load(update_url,function () {
                 $("#btn_stock_update2").show();
            });
        }
        $("#id_part_id").val({{part_detail.id}}).change();
        $("#id_partId").val({{ part_detail.id }}).change();


        $('.delete_btn').on('click',pop_up_delete);
        function pop_up_delete() {
            var delete_url = $(this).data('url');
            $('#delete_form').attr('action', delete_url);
{#            $("#delete_conformation").load(delete_url,function () {#}
{#                $("#delete_form").show();#}
{#            });#}
        }
          $(".app_edit_btn").on('click',pop_up_app);

        function pop_up_app() {
            var update_url = $(this).data('url');
            $('#update_form_app').attr('action',update_url);
            $("#my_form_app").load(update_url,function () {
                 $("#btn_app_update2").show();
            });
        }
        $(".app_delete_btn").on('click',pop_up_app_delete);

        function pop_up_app_delete() {
            var delete_url = $(this).data('url');
            $("#delete_form_app").attr('action',delete_url);
            $('#delete_conformation_app').load(delete_url, function () {
                $("#delete_form_app").show();
            });
        }
      });


</script>
{% endblock %}

{# part details #}
{% block body %}
    <div class="container">
    <a href="{% url 'parts:part_update_view' part_detail.id %}" style="float: right" class="btn btn-success"> Edit </a>
    <h3>
    Part Id: {{ part_detail.part_id}}<br>
    Part Name: {{ part_detail.part_name }}<br>
    Cost:{{ part_detail.cost }}<br>
    Available Stock: {{ part_detail.available_quantity }}
    </h3>
    <form action="{% url 'parts:part_processing'  %}" method="get" style="float: right" >
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Send an entry</button>
    </form>
    </div>


{#stock add form#}
    <hr>
    <div class="container">
    <h3>Add Stock</h3>
    <form method="post" class="form-inline" action="{% url 'parts:stock_add_view'%}">
        {{ form.errors }}
    {% csrf_token %}
        <div class="form-group" ><label for="id_part_id">Part id:</label>{{ form.part_id|add_class:"form-control"}}</div>
        <div class="form-group" ><label for="id_entry_date">Entry date:</label>{{ form.entry_date|add_class:"form-control" }}</div>
        <div class="form-group" ><label for="id_supplier">Supplier:</label>{{ form.supplier|add_class:"form-control" }}</div>
        <div class="form-group" ><label for="id_amount">Amount:</label>{{ form.amount|add_class:"form-control" }}</div>
        <input type="submit" class="btn btn-primary">

    </form>
    </div>
    <hr>


{#update stock moodal#}
<div class="modal fade" id="update_form_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Stock</h4>
        </div>
      <form id="update_form" action="" method="post" >
        <div class="modal-body">
          <div>

        {% csrf_token %}
        <div id="my_form">
            {% if update_form %}
                {{ update_form.as_table }}
                        <input type="submit" id="btn_stock_update1" >
            {% else %}
                {% include 'part_stock_form.html' %}

            {% endif %}

        </div>
        <br>
        <div class="modal-footer">
            <input type="submit" id="btn_stock_update2" style="display: none;" class="btn btn-primary">
            </div>
            </div>
        </div>
      </form>
      </div>

    </div>
  </div>

{# update form of part stock   #}
<div>
    <form id="update_form" action="" method="post"  class="col-sm-2">
        {% csrf_token %}
        <div id="my_form">
            {% if update_form %}
                {{ update_form.errors}}

                <div class="form-group" ><label for="id_part_id" class="control-label">Part id:</label>{{ update_form.part_id|add_class:"form-control"}}</div>
                <div class="form-group" ><label for="id_entry_date" class="control-label">Entry date:</label>{{ update_form.entry_date|add_class:"form-control" }}</div>
                <div class="form-group" ><label for="id_supplier" class="control-label">Supplier:</label>{{ update_form.supplier|add_class:"form-control" }}</div>
                <div class="form-group" ><label for="id_amount" class="control-label">Amount:</label>{{ update_form.amount|add_class:"form-control" }}</div>
                <input type="submit" id="btn_stock_update2" class="btn btn-primary">
{#            {% else %}#}
{#                {% include 'part_stock_form.html' %}#}

            {% endif %}

        </div>
{#                <input type="submit" id="btn_stock_update2" style="display: none;" >#}
    </form>
</div>

<div id="confirmModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
        <form id="delete_form" action="" method="post"  >
      <div class="modal-body">
    {% csrf_token %}
    <div id="delete_conformation">
    {% include 'part_stock_confirm_delete.html' %}
    </div>
    <p>Are you sure  want to delete ?</p>

      </div>
      <div class="modal-footer">
    <input type="submit" value="Confirm" class="btn btn-danger"/>
      </div>
            </form>
    </div>

  </div>
</div>

{#<form id="delete_form" action="" method="post" style="display: none;">#}
{#    {% csrf_token %}#}
{#    <div id="delete_conformation">#}
{#    {% include 'part_stock_confirm_delete.html' %}#}
{#    </div>#}
{#    <p>Are you sure  want to delete ?</p>#}
{#    <input type="submit" value="Confirm" />#}
{#</form>#}

{# list of all part stock#}
<div class="container">
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Entry Date</th>
        <th>Supplier</th>
        <th>Quantity</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>
    {% for stock in part_detail.part_stock_set.all %}
        <tr>
        <th>{{ stock.entry_date }}</th>
        <th>{{ stock.supplier }}</th>
        <th>{{ stock.amount }}</th>
        <th><button type="button" class="edit_btn"  data-toggle="modal" data-target="#update_form_modal"  data-url="{% url 'parts:stock_update_view' stock.id %}">Edit</button></th>
        <th><button type="button" class="delete_btn"  data-toggle="modal" data-target="#confirmModal" data-url="{% url 'parts:stock_delete_view' stock.id %}">Delete</button></th>
        </tr>
    {% endfor %}
  </table>
</div>
    <hr>

{#applicable model add form#}
<div class="container" >
    <h2>Add Applicable Model</h2>
    <form method="post" class="form-inline" action="{% url 'parts:app_add_view'%}">
        {% csrf_token %}
        <div class="form-group ">
        <label >Part Id: </label>{{ app_add_form.partId|add_class:"form-control" }}
        </div>
        <div class="form-group">
        <label  >Model: </label>{{ app_add_form.applicable|add_class:"form-control"  }}
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{#list of all applicable model #}
<div class="container">
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Model</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for app in part_detail.applicable_model_set.all %}
            <tr>
            <th>{{ app.applicable }}</th>
            <th><button type="button" class="app_edit_btn"   data-url="{% url 'parts:app_update_view' app.id %}">Edit</button></th>
            <th><button type="button" class="app_delete_btn"   data-url="{% url 'parts:app_delete_view' app.id %}">Delete</button></th>
            </tr>
        {% endfor %}
    </tbody>
 </table>


</div>

{#delete conformation of applicable model#}
<form id="delete_form_app" action="" method="post" style="display: none;">
    {% csrf_token %}
    <div id="delete_conformation_app">
    {% include 'app_confirm_delete.html' %}
    </div>
    <p>Are you sure you want to delete ?</p>
    <input type="submit" value="Confirm" />
</form>

{# update modal of applicable model #}
<div>
    <form id="update_form_app" action="" method="post">
        {% csrf_token %}
        <div id="my_form_app">
            {% if app_update_form %}
                {{ app_update_form.as_table }}
                <input type="submit" id="btn_app_update1" >
            {% else %}
                {% include 'app_update_form.html' %}
            {% endif %}
        </div>
        <input type="submit" id="btn_app_update2" style="display: none;" >
    </form>
</div>
<br>

{% endblock %}
