<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parts</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
{% extends 'nav_bar.html' %}
  {% block home %}
      <a class="navbar-brand" href="{%  url 'parts:parts_home' %} ">WebSiteName</a>
        {% endblock %}
{% block links %}
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a href="{% url 'parts:part_add' %}" class="nav-link"><span class="glyphicon glyphicon-plus"></span>Add Parts </a> </li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
{% endblock %}
 {% block contents %}
<div class="container">
  <h2>List Group With Linked Items</h2>
  <div class="list-group">
    {% for part in part_list %}
        <a href="{% url 'parts:part_details' part.part_id %}" class="list-group-item">{{ part.part_name }}</a>

    {% endfor %}

  </div>
</div>

 {% endblock %}
</body>
</html>