<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
{% include 'nav_bar_base.html' with my_list=my_list search_link='parts:part_search' %}
</div>
<br><br><br>
<div class="container">
<h4 >
{{ part_temp.part_id }}<br>
{{ part_temp.part_name }}<br>
{{ part_temp.cost }}<br>
{{ part_temp.available_quantity }}<br>
</h4>
</div>
<form action="{% url 'parts:part_details' part_temp.part_id  %}" method="post" >
    {% csrf_token %}
    {{ part_stock_form }}
    <input type="submit">
</form>

<div>
    {% for stock in part_temp.part_stock_set.all %}
        {{ stock.entry_date }}
        {{ stock.supplier }}
        {{ stock.amount }}
        {{ stock.remaining }}<br>
    {% endfor %}
</div>

</body>
</html>