<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="position: fixed; border: solid;padding: 10px;">
Passing a python list to django template
</div>
<div>
    Passing a python list to django template
Ask Question
up vote
1
down vote
favorite
I want to display a list of things on my template. So I have a view to generate that list and pass it to template like this:

newlinks = []
try:
    links=urllib2.urlopen( ).readlines()
except (urllib2.HTTPError):
    links = ''
    pass
for link in links:
    newlinks.append(link[0:-1])
return render_to_response('template11.html', {'links',newlinks}, context_instance=RequestContext(request))
But while rendering it, i get TypeError

Exception Type: TypeError
Exception Value: unhashable type: 'list'
This is template code:



</body>
</html>